/*

// VARIABLE WARNA = Masukkan warna.
$color1:
$color2:
$color3:
$color4:

*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "cairo";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Cairo-Regular.woff") format("woff");
}
@font-face {
  font-family: "supermolot";
  src: url("../fonts/TTSupermolotNeue-Regular.otf");
}
body {
  font-size: 18px;
  font-family: "cairo", sans-serif;
  background-color: #f5f5f5;
  height: 5000px;
}

.contNav1 .nav1 {
  max-width: 1480px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.contNav1 .nav1 .sosmed ul {
  display: flex;
  gap: 10px;
}
.contNav1 .nav1 .sosmed ul li {
  list-style: none;
}
.contNav1 .nav1 .sosmed ul li a {
  text-decoration: none;
  color: #939393;
}
.contNav1 .nav1 .sosmed ul li a:hover {
  color: inherit;
}
.contNav1 .nav1 .langAndSignUp {
  display: flex;
}
.contNav1 .nav1 .langAndSignUp .lang {
  height: 100%;
  border: none;
  background-color: #f5f5f5;
  color: #333;
  border-left: 2.5px solid #939393;
  padding-left: 5px;
}
.contNav1 .nav1 .langAndSignUp .lang option {
  background-color: #fff;
  color: #939393;
}
.contNav1 .nav1 .langAndSignUp .btn {
  height: 100%;
  border: none;
  background-color: #f5f5f5;
  border-left: 2.5px solid #939393;
  border-right: 2.5px solid #939393;
  padding: 0 10px;
}
.contNav1 .nav1 .langAndSignUp .btn a {
  text-decoration: none;
  color: #333;
}
.contNav1 .nav1 .langAndSignUp .lang:hover,
.contNav1 .nav1 .langAndSignUp .btn:hover {
  background-color: #e3e1e1;
}

.contNav2 {
  background-color: #000;
}
.contNav2 .nav2 {
  max-width: 1480px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.contNav2 .nav2 .left {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 20px;
}
.contNav2 .nav2 .left .logoSBK {
  width: 250px;
}
.contNav2 .nav2 .left .logoFIM {
  width: 50px;
}
.contNav2 .nav2 .right {
  text-align: center;
}
.contNav2 .nav2 .right ul {
  display: flex;
  gap: 30px;
}
.contNav2 .nav2 .right ul li {
  list-style: none;
  padding: 0 0 10px;
}
.contNav2 .nav2 .right ul li a {
  text-decoration: none;
  color: #939393;
  font-size: 2rem;
  font-weight: bold;
}
.contNav2 .nav2 .right ul li a p {
  font-size: 12px;
  margin-top: -10px;
}
.contNav2 .nav2 .right ul .videoPass {
  background-color: red;
  padding: 0 15px;
}
.contNav2 .nav2 .right ul .videoPass a {
  color: #fff;
}

.contNav3 {
  background-color: #333;
}
.contNav3 .nav3 {
  max-width: 1480px;
  margin: auto;
}
.contNav3 .nav3 ul {
  display: flex;
  align-items: center;
}
.contNav3 .nav3 ul li {
  list-style: none;
}
.contNav3 .nav3 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 0 15px;
  position: relative;
}
.contNav3 .nav3 ul li a:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  content: ".";
  width: 0%;
  background: red;
  color: transparent;
  margin: auto;
  height: 4px;
}
.contNav3 .nav3 ul li a:hover:after {
  width: 100%;
}
.contNav3 .nav3 ul .menu {
  width: 1rem;
  font-size: 1.8rem;
  padding: 0 15px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
  margin-right: 10px;
}
.contNav3 .nav3 ul .bgMenuChanger {
  background-color: rgb(60, 60, 60);
}

.menuList {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(60, 60, 60);
  z-index: 99;
  display: flex;
  justify-content: space-between;
  padding: 0 60px 30px;
}
.menuList h4 {
  color: #fff;
  font-family: "supermolot", sans-serif;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.menuList h4 span {
  font-size: 1rem;
}
.menuList ul li {
  list-style: none;
  margin-bottom: -8px;
}
.menuList ul li span {
  color: red;
  font-size: 10px;
}
.menuList ul li a {
  color: #959595;
  font-size: 15px;
  text-decoration: none;
}
.menuList ul li a:hover {
  text-decoration: underline;
}

.displayMenuList {
  display: none;
}

.contHeader {
  background-color: #000;
}
.contHeader header {
  position: relative;
  max-width: 1480px;
  margin: auto;
  display: flex;
}
.contHeader header img {
  width: 100%;
  display: block;
}
.contHeader header .banner1 {
  width: 75%;
}
.contHeader header .banner2 {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.contHeader header .banner2 .playIcon {
  position: absolute;
  top: -5px;
  left: 20px;
  font-size: 2.5rem;
  color: #fff;
  cursor: default;
}
.contHeader header .banner1,
.contHeader header .newsHead {
  position: relative;
}
.contHeader header .bannerTitle,
.contHeader header .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "supermolot", sans-serif;
  font-weight: bold;
}
.contHeader header .bannerTitle {
  padding: 20px;
  font-size: 2rem;
}
.contHeader header .title {
  padding: 10px;
}

.contUpdates {
  max-width: 1480px;
  margin: auto;
}
.contUpdates .updates {
  display: flex;
  justify-content: space-between;
  border: 1px solid #939393;
  margin: 20px;
  padding: 20px 10px 30px 20px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contUpdates .updates h2 {
  font-family: "supermolot", sans-serif;
  font-size: 23px;
  font-weight: bold;
}
.contUpdates .updates .category {
  font-size: 14px;
  border: none;
  color: #939393;
}

.contArticle {
  max-width: 1480px;
  margin: auto;
}
.contArticle .articles {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "0 1 round 2" "3 4 5 n1" "standings 6 7 8" "spiredRider superpole 9 10" "bestLap 11 n2 12" "13 14 15 16";
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
}
.contArticle .articles article {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contArticle .articles article .tag {
  color: red;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: -5px;
}
.contArticle .articles article .title {
  color: #3b3b3b;
  padding: 0 10px 10px;
  font-size: 1rem;
}
.contArticle .articles article img {
  width: 100%;
}
.contArticle .articles article a {
  text-decoration: none;
}
.contArticle .articles article:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contArticle .articles .round {
  grid-area: round;
}
.contArticle .articles .standings {
  grid-area: standings;
}
.contArticle .articles .spiredRider {
  grid-area: spiredRider;
}
.contArticle .articles .superpole {
  grid-area: superpole;
}
.contArticle .articles .bestLap {
  grid-area: bestLap;
}
.contArticle .articles .noneDisplay1 {
  grid-area: n1;
}
.contArticle .articles .noneDisplay2 {
  grid-area: n2;
}/*# sourceMappingURL=main.css.map */